@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', sans-serif;
}
body{
    background:#00BCF5;
}
.wrapper{
    position:absolute;
    bottom:3%;
    left:1%;
    max-width:410px;
    background: #fff;
    padding: 25px 25px 30px 25px;
    border-radius:5px;
    box-shadow:1px 7px 14px -5px rgba(0,0,0,0.15);
    text-align: center;
    opacity:0;
    transform:scale(1);
    transition-duration:2s;
}
.wrapper.hide{
    opacity:0 !important;
    pointer-events: none;
    transform:scale(0.8);
    transition-duration:4s;
    transition-delay:2s;
}
.wrapper img{
    max-width:200px;
}
.content header{
    font-size:20px;
    font-weight:600;
}
.content{
    margin-top: 10px;
}
.content .buttons{
    display:flex;
    align-items: center;
    justify-content: center;
}
button{
    padding:10px 20px;
    border:none;
    outline:none;
    color:#fff;
    font-size:16px;
    font-weight:500;
    background: #00BCF5;
    cursor:pointer;
}
.content p{
    font-size:15px;
    color:rgb(184, 174,174);
}
.badge{
    padding:10px 10px;
    background: rgba(1,155,229,.08);
    color:#00BCF5;
    margin:auto;
    width:300px;
    margin-bottom:5px;
    font-weight:600;
    display:none;
}
.buttons .item{
    margin:0 0px;
}
input:focus, [type="submit"]:focus{
    outline:none;
}
.buttons input{
    padding:10.5px 10px;
    border:none;
    border:2px solid #00BCF5;
}